<h2>Available drones</h2>


<div>


  {{#each response}}

  <h4>{{this.name}}</h4>
  <h4>{{this.propellers}}</h4>
  <h4>{{this.maxSpeed}}</h4>
  <button><a href="/drones/{{this._id}}/edit">Edit</a></button>
   
   
   <form action="/drones/{{this._id}}/delete" method="post" >
   
   <input type="submit" value="Delete">

   
   </form>
  


  {{/each}}

</div>